body{
  background: #eeedec;
  letter-spacing: .2em;
  font-size: .8em;
}
.container{
  max-width: 50vh;
  
}
.icon{
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}
.placeholder{
  font-size: 1em;
  letter-spacing: .2em;
  color: blue;
  width: 80%;
  display: inline;
}
.butt{
  background-color: #d8d8d8; 
  color: rgb(116, 116, 116);
  /* padding: .5em; */
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .33em;
  padding-bottom: .6em;
  border: rgb(131, 131, 131);
  
  border-radius: 15px;
  font-size: 20px;
}